
@font-face {font-family: gent; src: url(Gentium400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: gent; src: url(Gentium401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: gent; src: url(Gentium800.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: gent; src: url(Gentium801.woff2); font-style: italic; font-weight: bold;}

body {
background: #ffffff; color: #314158; /* white & slate 700 */
font: 12pt/1.5 gent, sans-serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 1em;
}

a:link, a:visited {color: #0069a8;} /* sky 700 */
a:hover, a:active {color: #c70036;} /* rose 700 */
