
@font-face {font-family: gent; src: url(GentiumPlus400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: gent; src: url(GentiumPlus401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: gent; src: url(GentiumBookPlus700.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: gent; src: url(GentiumBookPlus701.woff2); font-style: italic; font-weight: bold;}

@font-face {font-family: ulfi; src: url(ulfilas700.otf); font-style: normal; font-weight: bold;}
b:lang(got) {font-family: ulfi; text-transform: uppercase;}
b:lang(got).c1::before, b:lang(got).c1::after {content: '·';} /* middle dot, u+00b7 */
b:lang(got).c2 {text-decoration: overline;}

body {
background: #ffffff; color: #314158;
font: 12pt/1.5 gent, sans-serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 1em;
}

a:link, a:visited {color: #0069a8;}
a:hover, a:active {color: #c70036;}

audio {display: block;}

figure {margin: 1em 0;} figcaption {font-size: small; margin-bottom: ; text-align: center;}

table {border-collapse: collapse; margin: 1em 0; table-layout: fixed; width: 100%;}
table, th, td {border: thin solid #d4d4d4; padding: 0.2em 0.5em;}
th, td {vertical-align: top;}

.kol2 {columns: 2;} .kol3 {columns: 3;}
.stopka {font-size: small; text-align: center;}
.wys {margin: 1em 0;} .wys p {margin: 0; padding: 0 0 0 1em; text-indent: -1em;}

/* paleta „tailwind colors 4” [https://tailwindcolor.com/], kwiecień 2025
#c70036 #ff2056 rose 700/ 500
#bb4d00 #fe9a00 amber 700/ 500
#497d00 #7ccf00 lime 700/ 500
#0069a8 #00a6f4 sky 700/ 500
#314158 #62748e slate 700/ 500
#404040 #737373 neutral 700/ 500
#d4d4d4 #f5f5f5 neutral 300/ 100

700	500	300	100
#404040	#737373	#d4d4d4	#f5f5f5	neutral
#c70036	#ff2056	#ffa1ad	—	rose
#bb4d00	#fe9a00	#ffd230	—	amber
#497d00	#7ccf00	#bbf451	—	lime
#0069a8	#00a6f4	#74d4ff	—	sky
#314158	#62748e	#cad5e2	—	slate
*/
