
@font-face {font-family: gent; src: url(Gentium400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: gent; src: url(Gentium401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: gent; src: url(Gentium800.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: gent; src: url(Gentium801.woff2); font-style: italic; font-weight: bold;}

@font-face {font-family: bril; src: url(Brill400.ttf); font-style: normal; font-weight: normal;}
@font-face {font-family: bril; src: url(Brill401.ttf); font-style: italic; font-weight: normal;}
@font-face {font-family: bril; src: url(Brill700.ttf); font-style: normal; font-weight: bold;}
@font-face {font-family: bril; src: url(Brill701.ttf); font-style: italic; font-weight: bold;}

@font-face {font-family: ulfi; src: url(ulfilas700.otf); font-style: normal; font-weight: bold;}
b:lang(got) {font-family: ulfi; text-transform: uppercase;}
b:lang(got).c1::before, b:lang(got).c1::after {content: '·';} /* middle dot, u+00b7 */
b:lang(got).c2 {text-decoration: overline;}

body {
background: #ffffff; color: #314158; /* white & slate 700 */
font: 12pt/1.5 gent, sans-serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 1em;
}

a:link, a:visited {color: #0069a8;} /* sky 700 */
a:hover, a:active {color: #c70036;} /* rose 700 */

audio {display: block;}

figure {margin: 1em 0;} figcaption {font-size: small; text-align: center;}

table {border-collapse: collapse; margin: 1em 0; table-layout: fixed; width: 100%;}
table, th, td {border: thin solid #cad5e2; padding: 0.2em 0.5em;} /* slate 300 */
th, td {vertical-align: top;}

.kol2 {columns: 2;} .kol3 {columns: 3;}
.stopka {font-size: small; text-align: center;}
.wys {margin: 1em 0;} .wys p {margin: 0; padding: 0 0 0 1em; text-indent: -1em;}
